body, html {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 전체 화면 높이 */
    margin: 0; /* 기본 마진 제거 */
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-30deg, #fbb7d4 0%, #a9d4ff 100%);
    background-size: 200% 200%;
    animation: gradientAnimation 4.5s linear infinite alternate;
}


@keyframes gradientAnimation {
    0% {
        background-position: 10% 10%;
    }
    100% {
        background-position: 90% 90%;
    }
}
header, main, footer {

    width: 100%;
    color: white; /* 텍스트 색상 */
    z-index: 1; /* 비디오 위에 표시 */
}

header {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: space-between; /* 양쪽 끝에 배치 */
    top: 0; /* 헤더 위치 조정 */
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 배경색 (반투명) */

    margin-bottom: 0;
}

header h3{
    font-size:24px
}

main {
    display: flex;
    flex: 1;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-top: 0;
    transform: none; /* 제거 */
    top: auto; /* 제거 */

}

footer {
    text-align: center; /* 텍스트 정렬 */
    bottom: 0px; /* 푸터 위치 조정 */
    margin: 0;
    padding: 0;   
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
}

footer p{
    margin: 0;
    margin-bottom: 5px;
    padding: 0;    
}

.footer-word{
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}



.card {
    position: relative;
    width: 400px;
    height: 580px;
    margin-top: 0px;
    background: transparent; /* 카드 자체 배경 투명화 */
    margin-bottom: 0px;
    border:none;
    cursor: pointer;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* 뒤집힐 때 뒷면 숨김 */
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    background: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); /* 뒷면 배경색 추가 */
}
.card .front {
    transform: perspective(600px) rotateY(0deg);
    background: transparent; /* 앞면 배경 투명화 */
    box-shadow: 0 5px 10px #000;
}


.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .front h3{
    position: absolute;
    width: 100%;
    height: 45px;
    line-height: 45px;
    bottom: 0;
    color: #fff;
    background:rgba(0,0,0,0.3);
    margin: 0; /* 추가: 여백 제거 */
    padding: 0; /* 추가: 패딩 제거 */
    text-align: center;
    font-size: 30px;
}


.card .back {
    transform: perspective(600px) rotateY(180deg);
    background-image: linear-gradient(to top, rgba(112, 40, 228, 0.6) 0%, rgba(229, 178, 202, 0.6) 100%); /* 뒷면 배경색 동일 */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.card .back .link {
    border-top: solid 1px #fff;
    height: 70px;
    line-height: 70px;
    color: #fff; /* 기본 텍스트 색상 */
    text-decoration: none; /* 밑줄 제거 */
}


/* 공통 스타일 */
.social-link {
    text-decoration: none; /* 밑줄 제거 */
    color: #fff; /* 아이콘과 텍스트 색상 동일하게 설정 */
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Pacifico", cursive;
    font-weight: 200;
    font-style: normal;
}
.social-link i{
    margin-right: 6px;
    font-size: 22px;

}


/* 아이콘에 마우스를 올렸을 때 색상 변경 */
.social-link:hover {
    opacity: 0.8; /* 호버 시 투명도 조절 */
}


.card .back h3{
    font-size: 35px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p{
    letter-spacing: 1px;
    margin: 10px;
    font-size: 23px;
    text-align: left; /* 왼쪽 정렬 */
}


.card.flipped .front{
    transform: perspective(600px) rotateY(180deg);
}
.card.flipped .back {
    transform: perspective(600px) rotateY(360deg);
}

.music-player {
    display: flex;
    align-items: center; /* 음악 플레이어 수직 중앙 정렬 */
    gap: 20px; /* 요소 간의 간격을 늘림 */
}

.music-player h1 {
    padding-right: 10px;
}
.title {
    margin: 0; /* 기본 마진 제거 */
    font-size: 30px; /* 제목 크기 설정 */
    margin-left: 50px;
}


